@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Error";
    var message = ViewData["message"] == null ? "404 Not Found" : ViewData["message"];
}

<section class="bg-half d-table w-100">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
            <h1>@message</h1>
            <a href="/" class="">Trang chủ</a>
            </div><!--end col-->
        </div><!--end row-->
    </div> <!--end container-->
</section>